
<h2>List of users and their pokemon</h2>
<ul>
	<% @users.each do |user| %>
	<li> <%= user.email %> - 
		<a href="/users/<%= user.id %>" data-method="delete">Delete</a>
	</li>
	<li><ul>
		<% user.pokemons.each do |p| %>
			<li><%= p.name %></li>
		<% end %>
	</ul></li>
	<% end %>
</ul>